/*================== 
    Common css 
==============================*/

table,
th,
td {
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-tabs {
    border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.block-header-tab {
    background-color: #1f2937;
    text-align: left;
    justify-content: left;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.block-header-tab i {
    font-size: 17px;
    position: relative;
    top: 0px;
}
.college-content-wrapper {
    padding: 20px;
    border-top: none;
    background-color: #fff;
}
.artchitecture_text{
    font-size: 20px;
}