/*================== 
    Common css 
==============================*/

table,
th,
td {
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-tabs {
    border: 0;
}

p {
    margin-bottom: 0;
}

/*================== 
    All pages css 
==============================*/


.main-tab-container {
    padding: 40px 30px;
}

.custom-tab-container {
    padding: 50px 0;
}

.custom-tab-container ul li:focus-visible,
.nav-link:focus-visible {
    outline: 0 !important;
}

.invalid {
    width: 100%;
    margin-top: 0.375rem;
    font-size: .875rem;
    color: #dc2626;
}

.is-invalid {
    border-color: #dc2626
}

.custom-dropdown-course,.custom-dropdown-college {
    width: 100%;
    border: 1px solid #dfe3ea;
    border-radius: 5px;
    display: none
}

.fa-pen {
    color: #1f2937;
    font-size: 16px;
    cursor: pointer;
}

.fa-circle-xmark {
    color: #ff3b3b;
    font-size: 16px;
    cursor: pointer;
}



.custom-dropdown-course ul,.custom-dropdown-college ul {
    display: unset !important;
    justify-content: unset !important;
}

.custom-dropdown-course ul li,.custom-dropdown-college ul li {
    margin-right: unset !important;
    text-align: unset !important;
    display: block !important;
    cursor: unset !important;
}

.custom-dropdown-course ul li a,.custom-dropdown-college ul li a {
    color: #1f2937;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    padding: 10px
}

.custom-dropdown-course ul li a:hover,.custom-dropdown-college ul li a:hover {
    background: #1f2937;
    color: #fff
}

.nav-link {
    background: transparent !important;
}


.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 33px;
    user-select: none;
    -webkit-user-select: none;
    min-width: 77.8vw !important;
}

.custom-tab-container ul li i {
    width: 50px;
    height: 50px;
    font-size: 22px;
    background-color: #a8a8a8;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #dfe3ea !important;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #232d3a;
    position: absolute;
    top: -2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: #1f2937 !important;
}

.fa-check {
    display: none;
}

.custom-tab-container ul li a.active i {
    background-color: #1f2937;
    color: #fff;
}

.custom-tab-container ul li a {
    color: #1f2937;
}

.custom-tab-container ul li {
    margin-right: 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.nav-link {
    font-size: 16px !important;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    color: #545454 !important;
    padding: 0 !important;
    border: unset !important;
}

.custom-tab-container ul {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}



.block-header-tab {
    background-color: #1f2937;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.custom-tab-main {
    padding: 20px 0;
}

.add-btn i {
    width: 30px;
    height: 30px;
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 31px;
    font-size: 16px;
}

.addButton {
    display: flex;
    justify-content: end;
    position: relative;
    top: -34px;
    right: 7px;
}
.input-margin{
    margin-bottom: -20px;
}




/*================== 
    Education-info css 
==============================*/

.custom-tab-container ul li:focus-visible,
.nav-link:focus-visible {
    outline: 0 !important;
}

table,
th,
td {
    border: none;
}

.fa-check {
    display: none;
}

.fa-check-block {
    display: inline-block
}

.education-container .td-width {
    width: 425px;
}

.td-course {
    width: 430px;
}

.td-college {
    width: 420px;
}

/*================== 
    Honor page css 
==============================*/

.honors-container .location-td {
    width: 322px;
}

.honors-container .honor-td {
    width: 317px;
}

.honors-container .position-td {
    width: 210px;
}


/*================== 
    Activity page css 
==============================*/


.activity-container .location-td {
    width: 322px;
}

.activity-container .honor-td {
    width: 200px;
}

.activity-container .position-td {
    width: 210px;
}

.activity-container .grade-td {
    width: 313px;
}