/*================== 
    Common css 
==============================*/

table,
th,
td {
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-tabs {
    border: 0;
}

p {
    margin-bottom: 0;
}

/*================== 
    All pages css 
==============================*/


.main-tab-container {
    padding: 40px 30px;
}

.custom-tab-container {
    padding: 50px 30px;
}

.custom-tab-container ul li:focus-visible,
.nav-link:focus-visible {
    outline: 0 !important;
}

.invalid {
    width: 100%;
    margin-top: 0.375rem;
    font-size: .875rem;
    color: #dc2626;
    display: block;
}

.select2-container {
    width: 100% !important;
}

.is-invalid {
    border-color: #dc2626
}

.custom-dropdown-course,
.custom-dropdown-college {
    width: 100%;
    border: 1px solid #dfe3ea;
    border-radius: 5px;
    display: none
}

.fa-pen {
    color: #1f2937;
    font-size: 16px;
    cursor: pointer;
}

.fa-circle-xmark {
    color: #ff3b3b;
    font-size: 16px;
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

.nav-link {
    background: transparent !important;
}

#page-header .content-header {
    padding-left: 3.875rem;
    padding-right: 1.875rem;
}


.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 37px !important;
    user-select: none;
    -webkit-user-select: none;
    min-width: 76vw !important;
}

.custom-tab-container ul li i {
    width: 50px;
    height: 50px;
    font-size: 22px;
    background-color: #a8a8a8;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border: 1px solid #dfe3ea !important;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-hidden-accessible {
    color: #232d3a;
    position: absolute;
    top: -2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display,
.select2-hidden-accessible {
    color: #1f2937 !important;
}

.select2-container .select2-selection--single {
    height: 35px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #7b838a !important;
}

.fa-check {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.custom-tab-container ul li a.active i {
    background-color: #1f2937;
    color: #fff;
}

.custom-tab-container ul li a {
    color: #1f2937;
}

.custom-tab-container ul li {
    margin-right: 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.nav-link {
    font-size: 16px !important;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    color: #545454 !important;
    padding: 0 !important;
    border: unset !important;
}

.custom-tab-container ul {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}



.block-header-tab {
    background-color: #1f2937;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.custom-tab-main {
    padding: 20px 0;
}

.add-btn i {
    width: 30px;
    height: 30px;
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 33px;
    font-size: 16px;
}

.block-header-default {
    background-color: #1f2937;
}

.block-title {
    color: #fff;
}

.block-header-default .btn-block-option {
    color: #ffffff;
}

.submit-btn,.btn {
    background-color: #1f2937;
    color: #fff;
    font-size: 14px;
}

.btn:hover {
    color: #fff;
}

.modal-dialog-centered {
    position: relative;
    left: 140px;
}

.select2-container .select2-dropdown {
    z-index: 999999;
}

.table>:not(caption)>*>* {
    padding: 10px 30px 10px 0;
}

.plus-icon i {
    background-color: #4a9d2f;
    position: relative;
    top: 6px;
    width: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 28px;
    font-size: 14px;
}

.addButton {
    display: flex;
    justify-content: end;
    position: relative;
    top: -34px;
    right: 7px;
}

.input-margin {
    margin-bottom: -20px;
}




/*================== 
    Education-info css 
==============================*/

.custom-tab-container ul li:focus-visible,
.nav-link:focus-visible {
    outline: 0 !important;
}

table,
th,
td {
    border: none;
}

.fa-check {
    display: none;
}

.fa-check-block {
    display: inline-block
}


/*================== 
    Preview page css 
==============================*/
.header-area h2 {
    margin-bottom: 5px;
    color: #1f2937;
}

.header-area {
    margin-bottom: 30px;
}

.header-area p a {
    font-weight: 600;
    color: #1f2937;
}
.text-border{
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}
.text-border h1{
    margin-bottom: 0;
}
.text-border h1{
    font-weight: 500;
}
.text-border h1 span{
    font-weight: 800;
}
.preview-list h3{
    font-size: 16px;
    color: #1f2937;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.custom-tab-container .list{
    display: unset;
}
.custom-tab-container .list li{
    margin-right: 0;
    display: block;
    text-align: left;
    color: #1f2937;
    cursor: unset;
}
.custom-tab-container .list li span{
    font-weight: 600;
}
.preview-border{
    border-right: 1px solid #1f2937;
}
@page: footer {
    display: none
}

@page: header {
    display: none
}
@media print {
    .header-area h2 {
        margin-bottom: 5px;
        color: #1f2937;
    }
    
    .header-area {
        margin-bottom: 30px;
    }
    
    .header-area p a {
        font-weight: 600;
        color: #1f2937;
    }
    .text-border{
        border-bottom: 1px solid #000;
        margin-bottom: 30px;
    }
    .text-border h1{
        margin-bottom: 0;
    }
    .text-border h1{
        font-weight: 500;
    }
    .text-border h1 span{
        font-weight: 800;
    }
    .preview-list h3{
        font-size: 16px;
        color: #1f2937;
        font-weight: 500;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .custom-tab-container .list{
        display: unset;
    }
    .custom-tab-container .list li{
        margin-right: 0;
        display: block;
        text-align: left;
        color: #1f2937;
        cursor: unset;
    }
    .custom-tab-container .list li span{
        font-weight: 600;
    }
    .preview-border{
        border-right: 1px solid #1f2937;
    }
}