/*================== 
    Common css 
==============================*/

table,
th,
td {
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-tabs {
    border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*================== 
    Step css 
==============================*/

.custom-college-container ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.custom-college-container ul li p {
    width: 50px;
    height: 50px;
    font-size: 22px;
    background-color: #a8a8a8;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    margin-bottom: 20px !important;
    color: #fff;
    margin: auto;
}

.custom-college-container ul li i {
    width: 50px;
    height: 50px;
    font-size: 22px;
    background-color: #d9e8c3;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    margin-bottom: 20px !important;
    color: #3d6208;
    border: 1px solid #d9e8c3;
    ;
    margin: auto;
}

.custom-tab-container {
    padding: 50px 30px;
}

.custom-college-container ul li:focus-visible,
.nav-link:focus-visible {
    outline: 0 !important;
}

.fa-check {
    display: none;
}

.custom-college-container ul li a.active p {
    background-color: #1f2937;
    color: #fff;
}

.custom-college-container ul li a {
    color: #1f2937;
}

.custom-college-container ul li {
    margin-right: 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.custom-college-container .nav-link {
    font-size: 16px !important;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    color: #545454 !important;
    padding: 0 !important;
    border: unset !important;
    background-color: transparent !important;
}

.nav-tabs-block .nav-link:focus,
.nav-tabs-block .nav-link:hover {
    color: #1f2937;
    background-color: transparent;
    border-color: transparent;
}


.tab-container {
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab-container .college_tablinks {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11px 20px;
    transition: 0.3s;
    color: #1f2937;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 !important;
}

/* Create an active/current tablink class */
.tab-container .college_tablinks.active {
    background-color: #1f2937;
    color: #fff;
}

/* Style the tab content */
.college-content {
    padding: 20px;
    border-top: none;
    background-color: #fff;
    ;
}

#college_wants {
    display: block;
}


.college_wants-wrapper h6 {
    font-weight: 400;
    margin-bottom: 30px;
}

.college_wants-wrapper h6 span {
    font-weight: 700;
}

.block-header-tab {
    background-color: #1f2937;
    text-align: left;
    justify-content: left;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.block-header-tab i {
    font-size: 17px;
    position: relative;
    top: 0px;
}

.college_wants_list {
    max-width: 700px;
}

.submit_btn {
    padding: 5px 45px 5px 45px;
}

.college_wants_input {
    max-width: 400px;
}

.next-step {
    padding: 5px 64px 5px 45px;
    background-image: url(../Image/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 130px 9px;
    font-size: 15px;
}

.prev-step {
    padding: 5px 45px 5px 58px;
    background-image: url(../Image/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 28px 9px;
    font-size: 15px;
}

.college-search-wrapper h2 {
    font-size: 22px;
    color: #1f2937;
    font-weight: 600;
    margin-bottom: 20px;
}

.college-search-block {
    padding: 20px;
    text-align: center;
}

.submit-btn {
    background-color: #1f2937;
    color: #fff;
    font-size: 14px;
}

.submit-btn:hover {
    color: #fff;
}

.block-header-modal {
    background-color: #1f2937;
    color: #fff;
}

.block-header-default .btn-block-option {
    color: #ffffff;
}

.college-search-modal-text p {
    font-size: 16px;
}

.block-content-college {
    /* height: calc(100vh - 255px);
    overflow: auto; */
    padding: 20px;
}
.block-header-default{
    cursor: pointer;
}