 .accordinIcon {
	text-align: right;
	position: absolute;
	right: 485px;
}

.modelprehead {
	display: flex;
	flex-direction: row;
}

.modelprehead h3 {
	width: 82%;
}

.modelprehead button {
	text-align: right;
	padding: 0px;
	text-align: center;
	height: 40px;
	width: 18% !important;

}

.colapHead {
	--bs-table-accent-bg: var(--bs-table-active-bg);
	color: var(--bs-table-active-color);

}

.colapHead a {
	font-size: .875rem;
	text-transform: uppercase;
	letter-spacing: .0625em;
	transition: color .12s ease-out;
	color: #4c78dd;
	text-decoration: none;
	font-weight: 600;
	line-height: 16px;
}

.btnminwidth {
	min-width: 205px;
}

.bg-grayed {
	background: #ccc !important;
}

.front-grayed {
	color: #999 !important;
}

.font-grayed {
	color: #999 !important;
}

.verticalnum {
	display: flex;
	flex-direction: row;
}

.verticalnum .milvnum {
	width: 10%;
}

.verticalnum .milvnum span {
	font-size: 20px;
	border-radius: 100%;
	padding: 12px 18px;
	text-decoration: none;
	position: relative;
	top: 37%;
	left: 16px;
}

.verticalnum .modvnum {
	width: 10%;
}

.verticalnum .modvnum span {
	font-size: 20px;
	border-radius: 100%;
	padding: 12px 18px;
	text-decoration: none;
	position: relative;
	top: 34%;
	left: 16px;
}

.verticalnum .secvnum {
	width: 10%;
}

.verticalnum .secvnum span {
	font-size: 20px;
	border-radius: 100%;
	padding: 12px 18px;
	text-decoration: none;
	position: relative;
	top: 37%;
	left: 16px;
}

.verticalnum .taskvnum {
	width: 10%;
}

.verticalnum .taskvnum span {
	font-size: 20px;
	border-radius: 100%;
	padding: 12px 18px;
	text-decoration: none;
	position: relative;
	top: 22%;
	left: 16px;
}

.verticalnum .vcontent {
	width: 90%;
}

.coursedesc {
	display: block !important;
}

.vnumbgcolorgray {
	background: #E2E2E2;
	color: #000;
}

.vnumbgcolorgreen {
	background: #008000;
	color: #fff;
}

@media(max-width: 767px) {

	.verticalnum .modvnum span,
	.verticalnum .secvnum span {
		top: 18%;
		padding: 7px 14px;
		left: 3px;
	}

	.verticalnum .milvnum span {
		top: 6%;
		padding: 7px 14px;
		left: 3px;
	}
}

.addchild {
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 0.25rem;
	margin: 10px 0px;

}

.tileHead {
	line-height: 29px;
}

.unpaidtileHead {
	line-height: 29px;
}

.tileHead i {
	width: 20px;
}

.unpaidtileHead i {
	width: 20px;
}

.nav-main-link.nav-main-link-submenu::before {
	position: absolute;
	top: 50%;
	right: 0.625rem;
	display: block;
	margin-top: -0.5rem;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-family: "Font Awesome 6 Free", "Font Awesome 6 Pro";
	font-weight: 900;
	font-size: .75rem;
	transition: opacity .25s ease-out, transform .25s ease-out;
}

.nav-main-submenu {
	padding-left: 47px;
}

.nav-main-submenu .nav-main-submenu {
	padding-left: 25px;
}

.nav-main-dark .nav-main-item.open>.nav-main-submenu,
.page-header-dark #page-header .nav-main-item.open>.nav-main-submenu,
.sidebar-dark #sidebar .nav-main-item.open>.nav-main-submenu {
	background-color: transparent;
}

.nav-main-link .nav-main-link-icon {
	font-size: 20px;
	color: #fff;
}

.nav-main-link .nav-main-link-name {
	font-size: 14px;
}

.fa-2x {
	font-size: 14px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.nav-main-link {
	align-items: flex-start;
}

#page-container.side-scroll #sidebar .content-side {
	width: 280px !important;
}

#sidebar {
	width: 290px;
}

#page-container.side-scroll #sidebar .content-header,
#page-container.side-scroll #sidebar .content-side {
	width: 290px !important;
}

#page-container.page-header-fixed.sidebar-o #page-header {
	padding-left: 274px;
}

#page-container.sidebar-o {
	padding-left: 290px;
}



/*===== sidebar css ====*/


#page-header .content-header {
    padding-left: 2.875rem;
    padding-right: 1.875rem;
}

#page-container.sidebar-mini.sidebar-o .content-header {
    padding-left: 22px;
    padding-right: 1.875rem;
}

#page-container.sidebar-mini.sidebar-o #sidebar {
    width: 247px;
}

#page-container.sidebar-mini.sidebar-o {
    padding-left: 67px;
}

.sidebar-mini.sidebar-o #sidebar:hover {
    width: 290px !important;
}

@media(max-width: 992px) {
	#page-container.page-header-fixed.sidebar-o #page-header{
		padding-left: 0px;
	}
	#page-container.sidebar-o{
		padding-left: 0px;
	}
}